.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

a {
  cursor: pointer;
}
li.breadcrumb-item.active{
  color: white;
}
li.breadcrumb-item.active::before{
  color: black;
}
ol {
  background-color: #ccc;
  color: white;
}
ol:after{
  content: "";
  display: table;
  clear: both;
}
