
  <navbar></navbar>
    <div class="container">
      <ol class="breadcrumb pull-left">
        <li class="breadcrumb-item"><a (click)="goBack()">Groups</a></li>
        <li class="breadcrumb-item active">Add users to {{chosenGroup.name}}</li>
      </ol>
    </div>


      <div class="container">
      <div class="row">
          <div class="column">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr *ngFor=" let a_teacher of activeTeachers; let a=index" [attr.data-index]="i">
                <th class="text-left col-md-11">{{a_teacher.role}} : {{a_teacher.first_name}}  {{a_teacher.last_name}}</th>
                <th align="center" class="text-center col-md-1">
                  <button type="button" class="close danger" aria-label="Close" (click)="deleteTeacher(a)" style="width:60px;margin:0 auto">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </th>
              </tr>
            </table>

            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr *ngFor=" let i_teacher of inactiveTeachers; let b=index" [attr.data-index]="i">
                <th class="text-left col-md-11">{{i_teacher.role}} : {{i_teacher.first_name}}  {{i_teacher.last_name}}</th>
                <th align="center" class="text-center col-md-1">
                  <button type="button" class="close danger" aria-label="Close" (click)="addTeacher(b)" style="width:60px;margin:0 auto">
                  <span class="glyphicon glyphicon-ok"></span>
                </button></th>
              </tr>
            </table>
          </div>
          <div class="column">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr *ngFor=" let a_student of activeStudents; let i=index" [attr.data-index]="i">
                <th class="text-left col-md-11">{{a_student.role}} : {{a_student.first_name}}  {{a_student.last_name}}</th>
                <th align="center" class="text-center col-md-1">
                  <button type="button" class="close danger" aria-label="Close" (click)="deleteStudent(i)" style="width:60px;margin:0 auto">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </th>
              </tr>
            </table>

            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr *ngFor=" let i_student of inactiveStudents; let j=index" [attr.data-index]="i">
                <th class="text-left col-md-11">{{i_student.role}} : {{i_student.first_name}}  {{i_student.last_name}}</th>
                <th align="center" class="text-center col-md-1">
                  <button type="button" class="close danger" aria-label="Close" (click)="addStudent(j)" style="width:60px;margin:0 auto">
                  <span class="glyphicon glyphicon-ok"></span>
                </button></th>
              </tr>
            </table>
          </div>
      </div>

      <div class="alert alert-danger" *ngIf="backendError!=null" style="margin-left:10%; margin-right:10%">
     <strong>{{backendError}}</strong>
      </div>
    </div>
