
  <navbar></navbar>

    <side-panel-groups (groupChosen)="handleGroupChosen($event)"></side-panel-groups>

  <div *ngIf="chosenGroup==null">
    <h4>Choose a group to add students to from the panel on the left</h4>
  </div>
  <div *ngIf="chosenGroup!=null">
    <h4>Adding users to group: <b>{{chosenGroup.name}}</b></h4>
  </div>
  <div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr *ngFor=" let user of activeUsers; let i=index" [attr.data-index]="i">
        <th class="text-left col-md-11">{{user.role}} : {{user.first_name}}  {{user.last_name}}</th>
        <th align="center" class="text-center col-md-1">
          <button type="button" class="close danger" aria-label="Close" (click)="delete(i)" style="width:60px;margin:0 auto">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </th>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr *ngFor=" let user of inactiveUsers; let i=index" [attr.data-index]="i">
        <th class="text-left col-md-11">{{user.role}} : {{user.first_name}}  {{user.last_name}}</th>
        <th align="center" class="text-center col-md-1">
          <button type="button" class="close danger" aria-label="Close" (click)="add(i)" style="width:60px;margin:0 auto">
          <span class="glyphicon glyphicon-ok"></span>
        </button></th>
      </tr>
    </table>
  </div>
