
  <navbar></navbar>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb pull-left">
          <li class="breadcrumb-item"><a (click)="goBack()">Groups</a></li>
          <li class="breadcrumb-item active">Add users to {{chosenGroup.name}}</li>
        </ol>
      </div>

      <div class="row">
          <div class="column">
            <h3>Teachers</h3>
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr *ngFor=" let a_teacher of activeTeachers; let a=index" [attr.data-index]="i">
                <th class="text-left col-md-11">{{a_teacher.role}} : {{a_teacher.name}}</th>
                <th align="center" class="text-center col-md-1">
                  <button type="button" class="close danger" aria-label="Close" (click)="deleteTeacher(a)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </th>
              </tr>
            </table>


          </div>
          <div class="column">
            <h3>Students</h3>
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr *ngFor=" let a_student of activeStudents; let i=index" [attr.data-index]="i">
                <th class="text-left col-md-11">{{a_student.role}} : {{a_student.name}}</th>
                <th align="center" class="text-center col-md-1">
                  <button type="button" class="close danger" aria-label="Close" (click)="deleteStudent(i)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </th>
              </tr>
            </table>
          </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="completer">
            <label>Add teacher</label>
            <ng2-completer [(ngModel)]="placeholderTeacher" name="placeholderTeacher" clearSelected="true" [placeholder]="dropdownTextTeacher" (selected)="onTeacherSelect($event)" [datasource]="dataServiceTeacher" [minSearchLength]="0" [openOnClick]=true></ng2-completer>
          </div>
        </div>
        <div class="column">
          <div class="completer">
            <label>Add student</label>
            <ng2-completer [(ngModel)]="placeholderStudent" name="placeholderStudent" clearSelected="true" [placeholder]="dropdownTextStudent" (selected)="onStudentSelect($event)" [datasource]="dataServiceStudent" [minSearchLength]="0" [openOnClick]=true></ng2-completer>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="alert alert-danger" *ngIf="backendError!=null">
       <strong>{{backendError}}</strong>
        </div>
      </div>

      <div class="row">
        <div *ngIf="lessons[0]!=null" class="full-column">
          <h3 class="pull-left">Lessons:</h3>
        <table class="table table-striped table-bordered table-hover table-condensed">
          <tr>
            <th>Lesson</th>
            <th>Date</th>
            <!--
            <th>Group</th>
            -->
          </tr>
          <tr *ngFor=" let lesson of lessons; let i=index" [attr.data-index]="i">
            <td  class="text-center" style = "cursor: pointer" (click)="goToLesson(i)">{{lesson.subject}}</td>
            <td class="text-center">{{lesson.date}}</td>
            <!--
            <td class="text-center" style="width:10px"></td>
          -->
          </tr>
        </table>
        </div>
        <div *ngIf="lessons[0]==null" class="full-column">
          <h3 class="pull-left">No lessons yet.</h3>
        </div>
      </div>
    </div>
