<navbar></navbar>
<div class="container text-center">
  <ol class="breadcrumb pull-left">
    <li class="breadcrumb-item"><a (click)="goBack()">Lessons</a></li>
    <li class="breadcrumb-item active">Add lesson</li>
  </ol>
  <br><br>
  <h1>
    <b>Hello {{user}}!</b>
  </h1>
  <br>
  <h3>
    You can create new lessons here:
  </h3>
  <br>
    <hr>
<table align="center">
  <tr>
    <td>
      <form>
        <div class="form-group to-left">
          <strong id="calendarHeader" (click)="toggleCalendar()">Show calendar</strong><br>

          <datepicker
                        id="calendar"
                        name="date"
                        [(ngModel)]="date"
                         [showWeeks]="true"
                         [minDate]="minDate"
          ></datepicker>
          <div class="form-row">
            <strong>Start:</strong>
            <select [(ngModel)]="hour_start" name="hour_start" class="form-control" (change)=setEndHour()>
            <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
            </select>
            <select [(ngModel)]="min_start" name="min_start" class="form-control" (change)=setEndMin()>
            <option *ngFor="let min of mins" [value]="min">{{min}}</option>
            </select>

          </div>
          <div class="form-row">
            <strong>End  :</strong>
            <select [(ngModel)]="hour_end" name="hour_end" class="form-control">
            <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
            </select>
            <select [(ngModel)]="min_end" name="min_end" class="form-control">
            <option *ngFor="let min of mins" [value]="min">{{min}}</option>
            </select>

          </div>

        </div>
      </form>
    </td>
    <td valign="top">
      <form>
        <div class="form-group">
          <div class="to-left">
            <strong> Subject</strong>
          </div>
          <textarea rows="4" cols="30" class="form-control" name="subject" [(ngModel)]="subject" (keydown.enter)="create()" style="padding-top:0px">
          </textarea>

        <div class="form-row">
          <strong> Group</strong>
          <div class="form-group">
                  <ng2-completer class="group-completer" [(ngModel)]="group" name="group" [placeholder]="placeholder" [datasource]="dataService" [minSearchLength]="0" [openOnClick]=true></ng2-completer>
          </div>
        </div>
        <div>
          <button class="btn btn-success" [disabled]="group==null || subject==null" (click)="create()">Create</button>
        </div>
    </div>
    </form>
    </td>
  </tr>
</table>
<hr>
      <div class="alert alert-danger" *ngIf="error" style="margin-left:25%;margin-right:25%">Lesson must have a subject</div>

<div class="alert alert-danger" *ngIf="hourError" style="margin-left:25%;margin-right:25%">Invalid hours</div>
</div>
