<navbar></navbar>
<div class="container">
  <div class="row">
    <ol class="breadcrumb pull-left">
      <li class="breadcrumb-item active"><a>Groups</a></li>
    </ol>
  </div>
  <p class="pull-left">
    <a (click)="navigate()">
      <span class="glyphicon glyphicon-plus"></span>
    </a> Add new group
  </p>
  <div *ngIf="groups!=null">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th>Name</th>
      </tr>
      <tr *ngFor=" let group of groups; let i=index" [attr.data-index]="i" >
        <td class="text-center link" (click)="addRemove(i)">{{group.name}}</td>
        </tr>
    </table>
  </div>
  <div class ="no_lessons" *ngIf="groups==null">
    <h3>No groups yet.</h3>
  </div>

</div>
