
  <navbar></navbar>

  <div class="container">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr *ngFor=" let group of activeGroups; let i=index" [attr.data-index]="i">
        <th class="text-center col-md-11">{{group.name}}</th>
        <th align="center" class="text-center col-md-1">
          <button type="button" class="close danger" aria-label="Close" (click)="delete(i)" style="width:60px;margin:0 auto">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </th>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr *ngFor=" let group of inactiveGroups; let i=index" [attr.data-index]="i">
        <th class="text-center col-md-11">{{group.name}}</th>
        <th align="center" class="text-center col-md-1"><button type="button" class="close danger" aria-label="Close" (click)="add(i)" style="width:60px;margin:0 auto">
          <span class="glyphicon glyphicon-ok"></span>
        </button></th>
      </tr>
    </table>
  </div>
