<navbar></navbar>
<div class="container">
    <div class="row">
      <ol class="breadcrumb pull-left">
        <li class="breadcrumb-item"><a (click)="goBackGroups()">Groups</a></li>
        <li class="breadcrumb-item"><a>{{group.name}}</a></li>
        <li class="breadcrumb-item active"><a>Lessons</a></li>
      </ol>
    </div>
  <div *ngIf="lessons[0]!=null" class="row">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Hour</th>
      </tr>
      <tr *ngFor=" let lesson of lessons; let i=index" [attr.data-index]="i">
        <td (click)="choose(i)" class="text-center link">{{lesson.subject}}</td>
        <td class="text-center">{{lesson.date.getDate()}}.{{lesson.date.getMonth()+1}}.{{lesson.date.getFullYear()}}</td>
        <td class="text-center">{{lesson.hour}}</td>
      </tr>
    </table>
  </div>
  <div class="no_lessons row" *ngIf="lessons[0]==null">
    <h3>No lessons yet.</h3>
  </div>
</div>
