<navbar></navbar>
<div class="text-centered" style="margin-bottom:40px">
  <h1><strong>Register</strong></h1>
</div>
<form style="margin-left:20%; margin-right:20%">
  <div class="form-group">
    <label for="InputFirstName">First Name</label>
    <input required type="text" class="form-control" id="InputFirstName" name="first_name" [(ngModel)]="first_name" placeholder="Enter first name">
  </div>
  <div class="form-group">
    <label for="InputLastName">Last Name</label>
    <input type="text" class="form-control" id="InputLastName" name="last_name" [(ngModel)]="last_name" placeholder="Enter last name">
  </div>
  <div class="form-group">
    <label for="InputEmail1">Email address</label>
    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="email" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="InputPassword1">Password</label>
    <input type="{{inputType}}" class="form-control" id="InputPassword1" name="password" [(ngModel)]="password" placeholder="Password">

      <input type="checkbox" name="passwordCheckBox" (click)="hideShowPassword()" />
      <label for="checkbox" *ngIf="passwordCheckbox">Hide password</label>
      <label for="checkbox" *ngIf="!passwordCheckbox">Show password</label><hr>
  </div>

</form>
<div class="container text-center">
      <button class="btn btn-success" (click)="submit('student')">Register a new student</button>
      <button class="btn btn-success" (click)="submit('teacher')">Register a new teacher</button>
    <hr>
    <div class="alert alert-success" *ngIf="registered" style="margin-left:10%; margin-right:10%">
   <strong>Account created!</strong> Student can <a href="#" class="alert-link">log in now</a>.
    </div>
    <div class="alert alert-danger" *ngIf="registered==false" style="margin-left:10%; margin-right:10%">
   <strong>Fill in all the fields!</strong>
    </div>
    <div class="alert alert-danger" *ngIf="backend_error!=null" style="margin-left:10%; margin-right:10%">
   <strong>{{backend_error}}</strong>
    </div>
</div>
