
a {
  cursor: pointer;
}
li.breadcrumb-item.active{
  color: white;
}
li.breadcrumb-item.active::before{
  color: black;
}
ol {
  background-color: #ccc;
  color: white;
}
.alert{
  margin-left:10%;
  margin-right:10%
}
form{
  margin-left:20%;
  margin-right:20%;
}
.text-centered{
  margin-bottom:40px
}
