a {
  cursor: pointer;
  margin-left:0px;
}
li.breadcrumb-item.active{
  color: white;
}
li.breadcrumb-item.active::before{
  color: black;
}
ol {
  background-color: #ccc;
  color: white;
}
.header{
  text-align:left
}
.alert{
   margin-left:25%;
   margin-right:25%
}
