.sidenav {
          height: 100%; // 100% Full-height
          width: 20%;
          position: fixed; // Stay in place
          z-index: 1; // Stay on top
          top: 70;
          left: 0;
          background-color:black;
          overflow-x: hidden; // Disable horizontal scroll
          padding-top: 60px;
      }
.button_show{
  margin-left: 0%;
}
.button_hide{
  margin-left: 20%;
}
div.sidenav_true{
          height: 100%;
          width: 20%;
          position: fixed;
          z-index: 1;
          top: 5;
          left: 0;
          background-color:black;
          overflow-x: hidden;
          padding-top: 60px;
}
.sidenav_false{
          height: 100%;
          width: 0%;
          position: fixed;
          z-index: 1;
          top: 50;
          left: 0;
          background-color:black;
          overflow-x: hidden;
          padding-top: 60px;
}
