
<button *ngIf="!show" class="btn btn-danger button_show" (click)="toggle()"><b> > </b></button>

<div class={{className}}>

    <div *ngIf="show">
        <h3><font color="white">Choose a group:</font></h3>
        <div *ngFor=" let group of groups;let i=index">

      				<button style="margin-bottom:3px;min-width:100%"class="btn btn-info" (click)="choose(i)">{{group.name}}</button><br>
        </div>
  </div>
</div>

<button *ngIf="show" class="btn btn-danger button_hide" (click)="toggle()"><b> < </b></button>
