<div class="jumbotron text-center vertical-center" style="height: 100%;
  min-width: 50%;
  margin-left:25%;
  margin-right:25%;
  margin-top:10%;
  display: inline-table;
  align-items: center;
  background-color: #ff0000;
  border-radius: 25px;">

      <img src="images/splash.png"  width="200" height="170" style="margin-top:-40px;"><br><br>

      	<div class="container" style="background-color: #ccc; width:400px; height:200px; border-radius: 10px;">
          <br>
          <br>
      		<h2>Goodbye {{user}}!</h2><br>
      		<button class="btn btn-info" style="margin-bottom:5px;height:30px;background:#4d79ff;" (click)="login()">Log back in</button>
          <br>


      </div>
      <br>
      <br>
      <br>


</div>
