.jumbotron{
  height: 100%;
    min-width: 50%;
    margin-left:25%;
    margin-right:25%;
    margin-top:10%;
    display: inline-table;
    align-items: center;
    background-color: #ff0000;
    border-radius: 25px;
}
button{
  margin-bottom:5px;
  height:30px;
  background:#4d79ff;
}
img{
  margin-top:-20px;
}
.container{
  background-color: #ccc;
  width:70%;
  height:40%;
  border-radius: 10px;
}
@media only screen and (min-width:770px){
  .jumbotron{
    margin-top:1%;
  }
}
