<navbar></navbar>
<div>
  <h3 style="text:center"><font color="white">Choose a group:</font></h3>
</div>
<div *ngFor=" let group of groups;let i=index">
  <button style="margin-bottom:3px;min-width:30%" class="btn btn-info" (click)="choose(i)">{{group.name}}</button><br>
</div>

<div *ngIf="groupChosen">
  <h3 style="text:center"><font color="white">Choose a student:</font></h3>
  <div *ngFor=" let student of students;let i=index">
          <button style="margin-bottom:3px;min-width:20%" class="btn btn-warning" (click)="s(i)">{{student.first_name}} {{student.last_name}}</button><br>
  </div>
</div>
