.container{
  padding: 10%;
  text-align: center;
  align-items: center;
}

.link{
  cursor: pointer;
}
table{
  margin-left: 10%;
  margin-right: 10%;
}
.progress{
  background: rgba(245, 245, 245, 1);
}
