<navbar></navbar>

<style>
.table td {
   text-align: center;
}
</style>
<div class="container">
      <div style="margin-bottom:10%">
      </div>
      <div *ngIf="chosenLesson==null">
        <h4>You haven't chosen any lesson. You can do it <a (click)="goto()" style="cursor: pointer"><strong>here</strong></a></h4>
      </div>
      <div *ngIf="chosenLesson!=null">
        <h4>Currently modifying: <strong>{{subject}}</strong></h4>
      </div>
      <table *ngIf="chosenLesson!=null" class="table table-striped table-bordered table-hover table-condensed">
        <tr *ngFor=" let word of words; let i=index" [attr.data-index]="i">
          <th class="text-center">{{word.english}}</th>
          <th class="text-center">{{word.polish}}</th>
          <th class="text-center" style="width:10px">
            <button type="button" class="close danger" aria-label="Close" (click)="delete(i)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </th>
        </tr>



      </table>


  <div class="text-center" *ngIf="chosenLesson!=null">

      <input type="text"  name="english" [(ngModel)]="english" placeholder="english">
      <input type="text" name="polish" [(ngModel)]="polish" placeholder="polish"  (keyup.enter)="submit()"/>
      <button class={{buttonClass}} (click)="submit()">Submit</button>

  </div>
</div>
