<navbar></navbar>

<div class="container" *ngIf="contentReady">
  <ol class="breadcrumb pull-left">

    <li class="breadcrumb-item"><a (click)="goBackGroups()">Groups</a></li>
    <li class="breadcrumb-item"><a>{{group.name}}</a></li>
    <li class="breadcrumb-item"><a (click)="goBack()">Lessons</a></li>
    <li class="breadcrumb-item active">Adding words to {{chosenLesson.subject}}</li>
  </ol>
  <table class="info">
    <tr>
      <td class="labels">
        <label>group:</label>
      </td>
      <td>
        <input value={{group.name}}>
      </td>
    </tr>
    <tr>
      <td class="labels">
        <label>hour:</label>
      </td>
      <td>
      <input readonly=true value={{chosenLesson.hour}}>
      </td>
    </tr>
    <tr>
      <td class="labels">
        <label>date:</label>
      </td>
      <td>
          <input readonly=true value={{chosenLesson.date.getDate()}}.{{chosenLesson.date.getMonth()+1}}.{{chosenLesson.date.getFullYear()}}>
      </td>
    </tr>
    <tr>
      <td class="labels">
        <label>teachers:</label>
      </td>
      <td>
        <span *ngFor=" let teacher of teachers">
           <input readonly=true value={{teacher.name}}><br>
         </span>
      </td>
    </tr>
    <tr>
      <td  class="labels">
        <label>students:</label>
      </td>
      <td>
        <span *ngFor=" let student of students">
           <input readonly=true value={{student.name}}><br>
         </span>
      </td>
    </tr>
  </table>

    <input type="file" (change)="uploadFile($event)"/>
  <div *ngIf="chosenLesson!=null" style="clear: left">
    <table class="table table-condensed add-words">
      <tr>
        <th class="text-center">
          <input #focusable type="text"  name="english" [(ngModel)]="english" placeholder="english">
        </th>
        <th class="text-center">
          <input type="text" name="polish" [(ngModel)]="polish" placeholder="polish"  (keyup.enter)="submit(focusable)"/>
        </th>
        <th class="text-center">
          <input type="text" name="comment" [(ngModel)]="comment" placeholder="comment"  (keyup.enter)="submit(focusable)"/>
        </th>
        <th class="text-center" style="width:10px">
          <button class={{buttonClass}} (click)="submit()">Submit</button>
        </th>
      </tr>
    </table>
  </div>
      <table *ngIf="chosenLesson!=null" class="table table-striped table-bordered table-hover table-condensed">
        <tr *ngFor=" let word of words | reverse; let i=index " [attr.data-index]="i">
          <th class="text-center">
              <div>{{word.english}}</div>
          </th>
          <th class="text-center">
              <div class="clickable" (click)='funShowInput(i)' *ngIf='i != editedRow' >{{word.polish}}</div>
              <input *ngIf='i == editedRow && showInput' [(ngModel)]="editedWord.polish" value={{word.polish}} (keyup.enter)="update(i)">
          </th>
          <th class="text-center">
              <div class="clickable" (click)='funShowInput(i)' *ngIf='i != editedRow' >{{word.comment}}</div>
              <input *ngIf='i == editedRow && showInput' [(ngModel)]="editedWord.comment" value={{word.comment}} (keyup.enter)="update(i)">
          </th>
          <th class="text-center" class="play-div">
            <audio id="player" src={{word.url}}></audio>
            <div>
              <button onclick="document.getElementById('player').play()">Play</button>
            </div>
          </th>
          <th class="text-center" style="width:10px">
            <button type="button" class="close danger" aria-label="Close" (click)="delete(i)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </th>
        </tr>

      </table>
    </div>
