input{
  border: none;
  width: 100%;
}
.add-words{
  border: none;
}
a {
  cursor: pointer;
}

ol:after{
  content: "";
  display: table;
  clear: both;
}
.table td {
   text-align: center;
}
div.clickable{
  z-index: 1;
  cursor: pointer;
}
.info{
  clear: both;
  text-align: left;
}
