<navbar></navbar>

<div class="container">
  <ol class="breadcrumb pull-left">

    <li class="breadcrumb-item"><a (click)="goBackGroups()">Groups</a></li>
    <li class="breadcrumb-item"><a (click)="seeGroup()">{{group.name}}</a></li>
    <li class="breadcrumb-item"><a (click)="goBack()">Lessons</a></li>
    <li class="breadcrumb-item active">Adding words to {{chosenLesson.subject}}</li>
  </ol>
  <div class="info">
    <b>hour:</b>{{chosenLesson.hour}}<br>
    <b>date:</b>{{chosenLesson.date.getDate()}}.{{chosenLesson.date.getMonth()+1}}.{{chosenLesson.date.getFullYear()}}<br>
    <b>teachers:</b><br>  <div *ngFor=" let teacher of teachers; let i=index" [attr.data-index]="i">
        {{teacher.name}}<br>
      </div>
    <b>students:</b><br><div *ngFor=" let student of students; let i=index" [attr.data-index]="i">
        {{student.name}}<br>
      </div><br>
    <b>group:</b> {{group.name}}<br>
  <div>
    <input type="file" (change)="uploadFile($event)"/>
  <div *ngIf="chosenLesson!=null" style="clear: left">
    <table class="table table-condensed add-words">
      <tr>
        <th class="text-center">
          <input #focusable type="text"  name="english" [(ngModel)]="english" placeholder="english">
        </th>
        <th class="text-center">
          <input type="text" name="polish" [(ngModel)]="polish" placeholder="polish"  (keyup.enter)="submit(focusable)"/>
        </th>
        <th class="text-center" style="width:10px">
          <button class={{buttonClass}} (click)="submit()">Submit</button>
        </th>
      </tr>
    </table>
  </div>
      <table *ngIf="chosenLesson!=null" class="table table-striped table-bordered table-hover table-condensed">
        <tr *ngFor=" let word of words | reverse; let i=index " [attr.data-index]="i">
          <th class="text-center">
              <div class="clickable" (click)='toggleShowInputEng(i)' *ngIf='!showInputEng' >{{word.english}}</div>
              <input *ngIf='showInputEng' [(ngModel)]="editedEnglish" value={{word.english}} (keyup.enter)="updateEnglish(i)">
          </th>
          <th class="text-center">
              <div class="clickable" (click)='toggleShowInputPol(i)' *ngIf='!showInputPol' >{{word.polish}}</div>
              <input *ngIf='showInputPol' [(ngModel)]="editedPolish" value={{word.polish}} (keyup.enter)="updatePolish(i)">
          </th>
          <th class="text-center" style="width:10px">
            <button type="button" class="close danger" aria-label="Close" (click)="delete(i)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </th>
        </tr>

      </table>
    </div>
