<navbar></navbar>
<div class="text-centered" style="margin-bottom:40px">
  <h1><strong>Modify account</strong></h1>
</div>
<form style="margin-left:20%; margin-right:20%">
  <!--<div class="form-group">
    <label for="InputPassword0">Old password</label>
    <input type="{{inputType0}}" class="form-control" id="InputPassword0" name="old_password" [(ngModel)]="old_password" placeholder="Enter old password">
    <input type="checkbox" name="passwordCheckBox0" (click)="hideShowPassword0()" />
    <label for="checkbox" *ngIf="passwordCheckbox0">Hide password</label>
    <label for="checkbox" *ngIf="!passwordCheckbox0">Show password</label><hr>
  </div>-->
  <div class="form-group">
    <label for="InputEmail1">Email address</label>
    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="InputPassword1">New password</label>
    <input type="{{inputType}}" class="form-control" id="InputPassword1" name="new_password" [(ngModel)]="new_password" placeholder="Enter new password">

      <input type="checkbox" name="passwordCheckBox1" (click)="hideShowPassword()" />
      <label for="checkbox" *ngIf="passwordCheckbox1">Hide password</label>
      <label for="checkbox" *ngIf="!passwordCheckbox1">Show password</label><hr>
  </div>

</form>
<div class="container text-center">
      <button class="btn btn-success" (click)="submit()">Change password</button>
    <hr>
    <div class="alert alert-success" *ngIf="registered" style="margin-left:10%; margin-right:10%">
   <strong>Password changed</strong> Student can <a href="#" class="alert-link">log in now</a>.
    </div>
    <div class="alert alert-danger" *ngIf="empty_field" style="margin-left:10%; margin-right:10%">
   <strong>Fill in all the fields!</strong>
    </div>
    <div class="alert alert-danger" *ngIf="backend_error!=null" style="margin-left:10%; margin-right:10%">
   <strong>{{backend_error}}</strong>
    </div>
</div>
