<navbar></navbar>
<div class="container">
  <div style="margin-bottom:10%">
  </div>
  <p class="pull-left">
    <a (click)="navigate()">
      <span class="glyphicon glyphicon-plus"></span>
    </a> Add new lesson
  </p>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
      <th>Name</th>
      <th>Date</th>
      <!--
      <th>Group</th>
      -->
    </tr>
    <tr *ngFor=" let lesson of lessons; let i=index" [attr.data-index]="i">
      <td style = "cursor: pointer;"(click)="choose(i)" class="text-center">{{lesson.subject}}</td>
      <td class="text-center">{{lesson.date}}</td>
      <!--
      <td class="text-center" style="width:10px"></td>
    -->
    </tr>
  </table>

</div>
