<nav class="navbar navbar-toggleable-sm navbar-inverse " >


      <ul class="nav navbar-nav">
        <li>
          <a class="logo" (click)="navigate(0)"><img src="assets/logo.png"  width="55" height="51"></a>
        </li>
        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(1)">       <b>Create a group</b>       </a>
        </li>

        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(2)">       <b>Register new user</b>     </a>
        </li>
        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(3)">    <b> Add users to groups</b>     </a>
        </li>
        <li>
          <a class="tab" (click)="navigate(4)">      <b> See all lessons</b>      </a>
        </li>
        <li>
          <a class="tab" (click)="navigate(5)">       <b>Create a lesson</b>      </a>
        </li>

        <li>
          <a class="tab" (click)="navigate(6)">     <b>Add words to lesson</b>     </a>
        </li>
        <!--
        <li>
          <a *ngIf="isAdmin"class="tab" (click)="navigate(7)"> Assign lessons to students </a>
        </li>
      -->
        <li>
          <a class="tab" (click)="navigate(8)">   <b>See students' progress</b>   </a>
        </li>
        <li  style="float: right">
          <a class="tab" style="color:black" (click)="navigate(9)">   <b>Logout</b>   </a>
        </li>
      </ul>
</nav>
