.navbar{
  margin-bottom: 0px;
}
li a{
  color: white;
  font-size: 14px;
}
a{
  cursor: pointer
}
ul{
    display:table;
    padding:0;
    margin-top:50;
    width: 100%;
}
.tab{
    line-height: 50px;
    display:inline-table;
}
.logo{
  line-height: 50px;
  display:inline-table;
}
