<link href='https://fonts.googleapis.com/css?family=Abel:300,400,700' rel='stylesheet' type='text/css'>
<nav class="navbar navbar-toggleable-sm navbar-inverse " >


      <ul class="nav navbar-nav">
        <li>
          <a class="logo" (click)="navigate(0)"><img src="images/splash.png"  width="70" height="60"></a>
        </li>

        <li>
          <a class="tab" (click)="navigate(1)"> <span class="glyphicon glyphicon-globe"></span>     </a>
        </li>

        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(2)"><span class="glyphicon glyphicon-user"></span></a>
        </li>

        <li *ngIf="!isAdmin">
          <a class="tab" (click)="navigate(5)"><span class="glyphicon glyphicon-book"></span></a>
        </li>

        <li>
          <a class="tab" (click)="navigate(8)"><span class="glyphicon glyphicon-tasks"></span></a>
        </li>

        <li  style="float: right">
          <a class="tab" style="color:black" (click)="navigate(10)">   <b>Logout</b>   </a>
        </li>

        <li style="float: right">
          <a class="tab" (click)="navigate(9)">
            <span class="glyphicon glyphicon-cog"></span>     </a>
        </li>

      </ul>
</nav>
