<link href='https://fonts.googleapis.com/css?family=Abel:300,400,700' rel='stylesheet' type='text/css'>
<nav class="navbar navbar-toggleable-sm navbar-inverse " >


      <ul class="nav navbar-nav">
        <li>
          <a class="logo" (click)="navigate(0)"><img src="images/splash.png"  width="70" height="60"></a>
        </li>

        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(1)">       <b>Create a group</b>       </a>
        </li>

        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(2)">       <b>Register new user</b>     </a>
        </li>

        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(3)">    <b> Add users to groups</b>     </a>
        </li>

        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(4)">    <b> Modify accounts</b>     </a>
        </li>

        <li>
          <a class="tab" (click)="navigate(5)">      <b> Lesson</b>      </a>
        </li>

        <li>
          <a class="tab" (click)="navigate(8)">   <b>See students' progress</b>   </a>
        </li>

        <li>
          <a class="tab" (click)="navigate(9)">     <b>Update my profile</b>     </a>
        </li>

        <li  style="float: right">
          <a class="tab" style="color:black" (click)="navigate(10)">   <b>Logout</b>   </a>
        </li>
      </ul>
</nav>
